*{
 /*color:red;*/
}

tr > th{
   padding: 3px;
   min-width: 20px !important;
}

tr > td{
   padding: 3px;
   min-width: 20px !important;
}

th,tr{
   padding: 3px;
   min-width: 40px !important;
}


.language-bat>*{
	background-color: #303030 !important;
	color: #ffffff !important;
	font-family: Consolas !important;
	font-size:0.85em!important;
        border-radius:0px!important;
}

