*{
 /*color:red;*/
}

tr > th{
   padding: 3px;
   min-width: 20px !important;
}

tr > td{
   padding: 3px;
   min-width: 20px !important;
}

th,tr{
   padding: 3px;
   min-width: 40px !important;
}

//Code Blocks que representan shell
.language-shell div{
	background-color: #303030 !important;
	color: #ffffff !important;
	//font-family: Consolas !important;
	font-size:0.9em!important;
        border-radius:0px!important;
}

//Code Blocks que representan editor de texto.
.language-plain div,
{
  background-color:#fff !important;
  color:#303030!important;
  padding: 0.5rem 0.7rem;
  border: 1px dashed #444;

}

//lo que está adentro de code blocks heredan props
pre>code {
  background-color: inherit;
  color: inherit;
}

pre {
  background-color: inherit;
  color: inherit;
  overflow-x: auto;
}

pre code {
  background: none;
  color: inherit;
}

