//GENERAL:
*{
 /*color:red;*/
}

//TABLAS:
tr > th{
   padding: 3px;
   min-width: 20px !important;
}
tr > td{
   padding: 3px;
   min-width: 20px !important;
}
th,tr{
   padding: 3px;
   min-width: 40px !important;
}


//CODE BLOCKS
//Code Blocks que representan shell
.language-shell,
.language-shell div{
	background-color: #333 !important;
	color: #fff !important;
	font-size:1em!important;
}
.language-shell > pre{}
//Code Blocks que representan editor de texto.
.language-Text,
.language-Text div{
  	background-color:#fff !important;
  	color:#333!important;
	font-size:1em!important;
}
.language-Text > pre{
  	border: 1px dashed #444;
}
pre {  padding: 10px; }
//lo que está adentro de code blocks heredan props
pre, code, pre code {
  background-color: inherit;
  color: inherit;
  text-size:inherit;
  border: 0px;
}
